<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!--<file>/sdcard/localservice/localservice.log</file>--> <!-- /sdcard/testFile.log -->
        <file>/data/data/com.teoneff.localservice/files/log/foo.log</file>
        <append>true</append>
        <encoder>
            <!--<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>